.chart-pie.data0 {
    -fx-pie-color: #4CAF50; /* positive */
}

.chart-pie.data1 {
    -fx-pie-color: #BAB5B5; /* neutral */
}

.chart-pie.data2 {
    -fx-pie-color: #F44336; /* negative */
}

.chart-topic-label {
    -fx-font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
    -fx-font-size: 22px;
    -fx-font-weight: bold;
    -fx-text-fill: #1f2937;
}